# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Byte-compiled / optimized / DLLs
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
.env.*
venv/
env/

# IDE/Editor
.vscode/
.idea/

# Log files
*.log
